@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&family=Rampart+One&display=swap");

.img-h2 {
  font-family: "Rampart One", cursive;
  font-size: 3.55rem;
  font-family: "Rampart One", cursive;
  font-weight: 600;
  color: #bf787b;
  margin: 2% 0;
}

.img-h5 {
  font-family: "Lobster Two", cursive;
  font-size: 1.375rem;
  margin: 2% 13%;
  font-family: "Lobster Two", cursive;
  font-weight: 600;
  color: #407676;
}
.img-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.img-column {
  flex: 25%;
  max-width: 33.3%;
  padding: 0 4px;
}

.img-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  filter: grayscale(1) brightness(0.5);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s linear;
}
.img-column img:hover {
  filter: grayscale(0);
}
@media screen and (max-width: 800px) {
  .img-column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .img-column {
    flex: 100%;
    max-width: 100%;
  }
  .img-column img {
    filter: grayscale(0) brightness(1);
  }
}
