@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.offerDetails h2 {
  font-family: "DM Serif Display", serif;
  letter-spacing: 1.5px;
  font-weight: 800;
}

.offerDetails p {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: 500;
}
